# Names Winston watches for in the daily arXiv listing, one per line.
# Format: Surname, Given   or   Surname, G.   or just   Surname
# A bare surname matches any first name. A full given name must be one of the author's given
# names as written on arXiv (so James, not Jim); an initial matches by first letter. Accents are
# ignored. '#' starts a comment.

# locals
Nättilä, Joonas
Kravtsov, V.
Kiuru, Olavi
Linho, V.
Blomqvist, Sofia
Vuorinen, Aleksi
Issakainen, Emil
Salmi, Tuomo
Sarjomaa, Verneri
Qu, Yuanhong
Iho, Tua
Palmu, Miro

# external
Abolmasov, Pavel
Alford, Mark
Andersson, Nils
Bacchini, Fabio
Beattie, James
Begelman, Mitchell
Beloborodov, Andrei
Benáček, Jan
Beniamini, Paz
Beskin, Vasily
Blandford, Roger
Bransgrove, Ashley
Caplan, Matthew
Cerutti, Benoît
Chatterjee, Shami
Chen, Alexander Y.
Chernoglazov, A.
Combi, Luciano
Comisso, Luca
Cruz, Fabio
Cumming, Andrew
Degenaar, Nathalie
Demidov
Dexter, Jason
Di Piazza, Antonino
Dietrich, Tim
Dittmann, Alexander
Esposito, Paolo
Fiuza, Frederico
Galishnikova, Alisa
Galloway, Duncan
Gammie, Charles
Gorda, Tyler
Gottlieb, Ore
Gralla, Samuel
Granier, Camille
Gremillet, Laurent
Grismayer, Thomas
Guillot, Sebastien
Guo, Fan
Hakobyan, Hayk
Hankla
Harding, Alice
Haskell, Brynmor
Hessels, Jason
Heyl, Jeremy
Hotokezaka, Kenta
Howes, Gregory
Kaspi, Victoria
Kirk, J.
Kiuchi, Kenta
Komoltsev, Oleg
Kramer, Michael
Kumar, Pawan
Kunz, Matthew
Kurkela, Aleksi
Lamb, F.
Lemoine, Martin
Levin, Yuri
Levinson, Amir
Li, Hui
Liska, Matthew
Lu, Wenbin
Lyubarsky, Y.
Lyutikov, Maxim
Mahlmann, Jens
Masui, Kiyoshi
Mbarek, Rostom
Medvedev, Mikhail
Mehlhaff, John
Metzger, Brian
Miller, Coleman
Mizuno, Yosuke
Mösta, Philipp
Morsink, Sharon
Most, Elias
Mushtukov, Alexander
Nalewajko, Krzysztof
Narayan, Ramesh
Nimmo, Kenzie
Özel, Feryal
Pétri, Jérôme
Petroff, Emily
Philippov
Piran, Tsvi
Pleunis, Ziggy
Pons, José
Porth, Oliver
Poutanen, Juri
Psaltis, Dimitrios
Quataert, Eliot
Rau, Peter
Ravi, Vikram
Rea, Nanda
Reville, Brian
Rezzolla, Luciano
Ripperda, Bart
Rosswog, Stephan
Schekochihin, Alexander
Schwenk, Achim
Shibata, Masaru
Silva, Luis
Sironi, Lorenzo
Sobacchi, Emanuele
Solanki, Siddhant
Spitkovsky, Anatoly
Sridhar, Navin
Stone, James
Suleimanov, Valery
Tamburini, Matteo
Taverna, Roberto
Tchekhovskoy, Alexander
Tews, Ingo
Thompson, Christopher
Timokhin
Tripathi, Bindesh
Turolla, Roberto
Uzdensky, D.
Vanthieghem, Arno
Veledina, Alexandra
Vranic, Marija
Vuorinen, Aleksi
Vurm, Indrek
Watts, Anna
Werner, Gregory
Yakovlev, Dmitry
Yuan, Yajie
Zane, Silvia
Zhang, Bing
Zhdankin, Vladimir
Zweibel, Ellen
